<!DOCTYPE html>
<html>
<head>
    <title>支付返回页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<p>GET返回订单信息处理页！</p>
</body>
</html>
