<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/style.css" rel="stylesheet" media="screen">
</head>
<body>
<p class="money">0.01￥</p>

<div class="bnt">
    <a href="/alipayto" class="new-btn-login">确认支付</a>
</div>
</body>
</html>
