<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/style.css" rel="stylesheet" media="screen">
</head>
<body>
    <p>GET返回订单信息处理页！</p>
</body>
</html>
